//Colors
$green: #238A4C;
$green--light: #00B74A;
$lime: #37DB79;
$lime--light: #63DB94;

$white: #F0F0F0;
$silver: #C7C7C7;

$black: #1B1B1B;
$black--light: #2F2F2F;
$black--light2: #535353;

$orange: #FF9840;
$orange--light: #FFB473;

//Breakpoints
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;